---
import '../styles/global.css'

import { SimpleAnalytics } from 'astro-simpleanalytics-plugin'
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Tomek Naorniakowski - Fullstack Web Developer</title>
  </head>
  <body>
    <slot />
    <SimpleAnalytics />
  </body>
</html>

<style>
  @reference '../styles/global.css';

  :root {
    --color-a: #38bdf8;
    --color-b: #f0f9ff;
  }

  html, body {
    @apply w-screen h-dvh;
  }

  body {
    @apply place-items-center grid font-inter font-extralight text-white;
    background-image: radial-gradient(circle,  var(--color-a), var(--color-b));
  }
</style>
